/* CSS reset */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form,
	fieldset, input, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}

html, /* 嚙踐�蕭��嚙踐城嚙踐�蕭��蕭謘輯澈�嚙� 嚙踝嚙踝�豢謅蕭��冪��蕭��嚙踝蕭  ��嚙踐�蕭謅蕭����隤蕭謒穿蕭嚙踝�蕭���蕭���  */
	body {
	margin: 0;
	padding: 0;
	font-family: arial, "Microsoft JhengHei", "��嚙踐�縣��嚙踝蕭",
		sans-serif !important;
	font-size: 100%;
}

/* warp ���蕭��蕭��蕭嚙� ���蕭嚙� */

/* 嚙踝蕭��蕭��蕭蹇�olumn�獢�� */
.wrap {
	/*Flex���蕭�嚙�*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: center;
	align-items: center;
	/* border: solid 1px black;
       border-block-end-color: brown; */
	box-sizing: border-box;
}

/* 嚙踝蕭��蕭��蕭蹇�olumn嚙踝蕭�璊� */
.wrapStart {
	/*Flex���蕭�嚙�*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	/* border: solid 1px black;
       border-block-end-color: brown; */
	/* 嚙踝蕭��蕭����蕭 */
	height: 100%;
	/* border and padding in box */
	box-sizing: border-box;
}

/* 嚙踝蕭��蕭��蕭嚙踝蕭謑w 嚙踝蕭�璊� */
.wrapRowStart {
	/*Flex���蕭�嚙�*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	/* border: solid 1px black;
       border-block-end-color: brown; */
	/* 嚙踝蕭��蕭����蕭 */
	width: 100%;
	height: 100%;
	/* border and padding in box */
	box-sizing: border-box;
}

/* 嚙踝蕭��蕭��蕭�嚙踐�w �獢�� */
.wrapRow {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	/* order: solid 1px black;
       border-block-end-color: brown; */
}

/* in article have padding */
.wrapList {
	/*Flex���蕭�嚙�*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: flex-start;
	/* border: solid 1px black;
       border-block-end-color: brown; */
	/* 嚙踝蕭��蕭����蕭 */
	width: 100%;
	/* height: 100%; */
	/* border and padding in box */
	box-sizing: border-box;
	padding: 0% 1% 1% 1%;
}

/* warp ���蕭��蕭��蕭嚙� ���蕭嚙� */

/* 嚙踝蕭�嚙踝蕭 嚙踐�蕭謘��蕭嚙�  */
label {
	width: 100%;
}

.submitButton {
	/* 嚙踐撒�嚙踝蕭�嚙踝蕭 */
	margin: 0px 0px 0px;
	border: none;
	border-radius: 5px;
	background-color: #fc6d6d;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 2vh;
	text-align: center;
}

/* 嚙踝蕭�嚙踝蕭 嚙踐�蕭謘��蕭嚙� */

/* select {
    background-color: #fc6d6d;
    color: white;
    padding: 0.5% 4%;
    width: 100%;
    height: 4vh;
    border: none;
    font-size: 100%;
    box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
    -webkit-appearance: button;
    appearance: button;
    outline: none;
    text-align: center;
    border-radius: 5px;
}  */
label {
	width: 100%;
}

.submitButton {
	/* 嚙踐撒�嚙踝蕭�嚙踝蕭 */
	margin: 0px 0px 0px;
	border: none;
	border-radius: 5px;
	background-color: #fc6d6d;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 2vh;
}

#bg {
	width: 100%;
	height: 100%;
}

/*  ��隋eader ��赯� 嚙踝蕭�嚙踐鬲��蕭嚙踝蕭 */
#head {
	width: 100%;
	height: 150px;
	padding: 10px 0px;
}

/*  ��隋eader ��赯� 嚙踝蕭�嚙踐鬲��蕭嚙踝蕭 */
#cartShopList {
	width: 65%;
	height: 100%;
}

#chooseAll {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
	height: 10%;
}

/* ���蕭��嚙踝蕭嚙� */
#content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}

/* ��陽mg 嚙踝蕭�嚙踐鬲��蕭嚙踝蕭 */
#pictureBG {
	background-color: #d8d8d8;
	width: 100%;
	height: 75%;
}

.Bimg {
	width: 100%;
	height: 65%;
	background-color: #949393;
}

.Simg {
	width: 20%;
	height: 50%;
	background-color: #949393;
	padding: 1% 1%;
}

/* ��陽mg 嚙踝蕭�嚙踐鬲��蕭嚙踝蕭 */
/* ��蕭 a 嚙踝蕭�嚙� 嚙踝蕭�嚙踐鬲��蕭嚙踝蕭 */
a {
	width: 100%;
}

/* foot ��嚙踐撮嚙賣���蕭嚙踝嚙踝蕭  */
#footBG {
	     background-color: #e2d4b9;
	width: 100%;
	height: 40vh;
}

/* foot  */

/* 嚙踝蕭�嚙踐��蕭嚙踐高銋�蕭*/
p.BTital {
	color: black;
	text-align: left;
	font-size: 4.5vh;
	font-weight: bold;
}

p.tital {
	color: black;
	text-align: left;
	font-size: 4vh;
	font-weight: bold;
	width: 100%;
}

p.STital {
	color: black;
	text-align: left;
	font-size: 3vh;
	width: 100%;
}

p.text {
	color: black;
	text-align: left;
	font-size: 2vh;
	width: 100%;
}

/*Product���蕭豲蕭豲蕭豲蕭豲蕭豲蕭豲��竣嚙踐�蕭��蕭豲蕭豲蕭豲蕭豲蕭豲蕭豲蕭豲蕭豲蕭嚙� */

/* map 嚙踐�蕭嚙踐鬼頨急嚙� */
.map {
	width: 100%;
	height: 60vh;
	background-color: cadetblue;
}

/* map 嚙踐�蕭嚙踐鬼頨急嚙� */
.P_Bimg {
	width: 100%;
	height: 80%;
	background-color: #949393;
}

div.submitButton {
	/* 嚙踐撒�嚙踝蕭�嚙踝蕭 */
	margin: 0px 0px 0px;
	border: none;
	border-radius: 5px;
	background-color: #fc6d6d;
	width: 100%;
	height: 100%;
	color: white;
	font-size: 2.5vh;
	text-align: center;
	padding: 1%;
}

/* ��嚙踐垓謆蕭嚙踝蕭 ��蕭��蕭 

   .end_gray_border {
       border-block-end: rgb(179, 179, 179) solid 1px;
   }

   .star_border {
       border-block-start: rgb(179, 179, 179) solid 1px;
   } */

/*select ��蕭��蕭*/
select.product_sel {
	/* background-color: #fc6d6d; */
	 color: black;
    padding: 0.5% 4%;
    width: 100%;
    height: 3vh;
    border: solid rgb(148, 148, 148) 1px;
    font-size: 100%;
    outline: none;
    text-align: center;
    border-radius: 2px;
	/* box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2); */
	/*������髡��蕭��蕭*/
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	/*嚙踐����嚙踝蕭���蕭赯衣�蕭��蕭*/
	background: url("vnLrSJDngY.jpg") no-repeat right center transparent;
	background-size: 5% 60%;
	/* border: 0px; */
	/* width: 100%;
    height: 34px;
    padding-left: 2px;
    padding-right: 40px;
    background-color: #F6F7F7;
    color: gray; */

	/* -webkit-appearance: button;
    appearance: button; */
}

#Product_list {
	width: 90%;
	height: 100%;
}

/* ���蕭��嚙踝蕭嚙� 嚙踝蕭��什嚙踝蕭嚙� 嚙踝蕭��蕭嚙� 嚙踐嚙踝蕭嚙� */
#product_left {
	width: 50%;
	height: 100%;
}

#product_right {
	width: 50%;
	height: 100%;
	padding: 0% 3% 2%;
}
/* width 嚙踐�蕭嚙踝蕭 */
.width50 {
	width: 50%;
}

.width60 {
	width: 60%;
}
/* height 嚙踐�蕭嚙踝蕭 */
.w3cpicture {
	height: 100%;
	width: 80%;
	margin: 0px;
}

.vh_height100 {
	height: 100vh;
}

.height100 {
	height: 100%;
}

.height_width100 {
	height: 100%;
	width: 100%;
}

/* padding 嚙踐�蕭嚙踝蕭 */
.VH_R_padding15 {
	padding: 0vh 15vh 0vh 0vh;
}

.VH_padding3 {
	padding: 3vh;
}

.VH_padding1p5 {
	padding: 1.5vh;
}

.VH_RL_padding4 {
	padding: 0vh 4vh;
}

/*Product���蕭豲蕭豲蕭豲蕭豲蕭豲蕭豲��竣嚙踐�蕭��蕭豲蕭豲蕭豲蕭豲蕭豲蕭豲蕭豲蕭豲蕭嚙� */

/* order detail & orderlist 嚙踐��嚙踐��策嚙踝ss */
div.text>p.text {
	text-align: center;
}

div.image>img {
	width: 80%;
	height: 80%;
	text-align: center;
}

div.setting>ul, ol {
	list-style: none;
	padding-left: 30px;
}

div#status {
	background-color: gray;
	color: white;
	border-radius: 15px;
	padding: 1%;
	font-size: small;
	width: 50px;
	text-align: center;
	/* margin: 0 20px; */
}

div.wrapList>div>#order_date {
	white-space: nowrap;
	text-align: right;
}

div.tablist>ul {
	list-style: none;
	margin: 0;
	display: inline-flex;
}

div.tablist li>a {
	text-decoration: none;
	font-size: 18px;
	line-height: 54px;
	padding: 10px 20px;
}

a.active {
	border-bottom: darkblue solid 4px;
}

div.empty-list {
	width: 100%;
	margin: 24px 0;
	/* padding: 24px; */
	text-align: center;
}

a {
	text-decoration: none;
}

div.order_title {
	text-align: left;
	display: inline-flex;
	white-space: nowrap;
	width: 100%;
	background-color: rgb(227, 231, 220);
	line-height: 35px;
	padding: 10px 0px;
}

div.order_title>div {
	padding: 0px 20px;
}

div.order_details {
	/* display: inline-flex; */
	white-space: nowrap;
	width: 100%;
	/* background-color: lightcoral; */
	text-align: center;
}

div.shop_details, div.order_history {
	border: 2px solid rgb(227, 231, 220);
}

div#prodimage>img {
	width: 70px;
	height: 70px;
	background-color: khaki;
}

div.shop_products>div {
	padding: 0 10px;
	line-height: 54px;
}

div.chat_history, div.contact, div.refund, div.cancel_order{
	text-align: center;
	background-color: rgb(227, 231, 220);
	line-height: 35px;
	padding: 5px 20px;
	margin: 3px 0px
}

div.ship_status {
	border-bottom-color: pink;
}
/* ���蕭�嚙踐垓謆蕭嚙踝蕭 */
.end_gray_border {
	border-block-end: rgb(179, 179, 179) solid 1px;
}

.star_border {
	border-block-start: rgb(179, 179, 179) solid 1px;
}
/* padding嚙踐�蕭嚙踝蕭 */
div.order_history>ul {
	padding-left: 20px;
}

.small_padding {
	padding: 1vh;
}

.upDown_samll_padding {
	padding: 1vh 0vh;
}

.LR_samll_padding {
	padding: 0vh 1vh;
}

.right_padding {
	padding: 0vh 1vh 0vh 0vh;
}

.One_width {
	width: 100%;
}

.wrapRowBtw {
	/*Flex���蕭�嚙�*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: flex-start;
	/* border: solid 1px black;
        border-block-end-color: brown; */
	/* 嚙踝蕭��蕭����蕭 */
	width: 100%;
	height: 100%;
	/* border and padding in box */
	box-sizing: border-box;
}

#tabs {
	/* 嚙踝蕭��蕭����蕭 */
	width: 100%;
	height: 100%;
	/* border and padding in box */
	box-sizing: border-box;
	padding: 0% 1% 1% 1%;
}

/* ���蕭��嚙踝蕭嚙� */
#content {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: flex-start;
	width: 100%;
}

/* ���蕭��嚙踝蕭嚙� 嚙踝蕭��什嚙踝蕭嚙� 嚙踝蕭��蕭嚙� 嚙踐嚙踝蕭嚙� */
#detail_left {
	width: 20%;
	height: 100vh;
}

#detail_right {
	width: 80%;
	height: 100%;
	padding: 0% 3% 2%;
}

#list_left {
	width: 25%;
	height: 100vh;
}

#list_right {
	width: 25%;
	height: 100%;
	padding: 0% 3% 2%;
}

#list_middle {
	width: 50%;
	height: 100%;
	padding: 0% 3% 2%;
}

.shopping_detail {
	width: 40%;
	justify-content: flex-end;
}

/* order detail & orderlist 嚙踐��嚙踐��策嚙踝ss */

/* ============ shoppingCart ��鼎嚙踝��嚙踐��酗ss============== */

/* div��� 嚙踐�蕭嚙踐鬼頨急嚙� */

/* product &deliver 嚙踐�蕭嚙踐鬼頨急嚙� */
#deliverInfo {
	width: 50%;
	height: 100%;
	background-color: #f7f7f8;
	padding: 1vh;
	/* border and padding in box */
	box-sizing: border-box;
	border-radius: 5px;
}

#productInfo {
	width: 100%;
	/* height: 300px; */
	padding: 1vh;
	/* border and padding in box */
	box-sizing: border-box;
}

#sc_left {
	width: 75%;
	height: 100%;
}

#sc_right {
	width: 25%;
	height: 100%;
	padding: 0% 3% 2% 2%;
}

.sc_right {
	flex: auto;
	text-align: right;
	white-space: nowrap;
}

/* div嚙踝�謅蕭����蕭 */
#sc_center {
	width: 100%;
	height: 100%;
	text-align: center;
}

/* div嚙踝�謅蕭��蕭蹎 */
.pay_right {
	flex: auto;
	text-align: right;
	white-space: nowrap;
	margin-right: 10px;
}

/* P�謅蕭嚙�&��� */
p.text1 {
	color: black;
	text-align: left;
	font-size: 1.8vh;
	width: 100%;
}

p.text2 {
	color: grey;
	text-align: left;
	font-size: 1.5vh;
	width: 100%;
}

p.text3 {
	color: black;
	font-size: 2.2vh;
	text-align: left;
	width: 100%;
}

text4 {
	font-weight: bold;
}

p.noChangeLine {
	color: grey;
}

#pColor {
	color: #008fb3;
}

p#pColor:hover {
	color: #006680;
}

.noChangeLine {
	white-space: nowrap;
}

/* �����ix���斯 */
.cartFrame {
	/* border: solid 1px #eeeeef; */
	background-color: #eeeeef;
	padding: 5% 5% 5% 5%;
}

.cartFrame1 {
	width: 120%;
}

.cartFrame2 {
	padding: 5% 5% 5% 5%;
}

.sc_fix {
	/* position: fixed; */
	/* margin-top:-200px; ����蕭嚙踝�蕭嚙� */
	/* position: -webkit-sticky; */
	position: sticky;
	bottom: auto;
	top: 0;
}

/* padding嚙踐�蕭嚙踝蕭 */
.sc_padding {
	padding: 0% 0% 6%;
}

.sc_padding1 {
	padding: 0% 0% 3%;
}

.choose_padding {
	padding: 1% 0% 1% 0%;
}

.spacing_tb {
	padding-top: 10px;
	padding-bottom: 10px;
}

.spacingGeneral {
	padding-top: 10px;
	padding-bottom: 10px;
	width: 100%;
}

.spacing_rl {
	padding-left: 10px;
	padding-right: 10px;
}

.pay_padding {
	padding: 2% 0% 0% 2%;
}

/* ������蕭�謆��斯 */

/* 嚙踝蕭��蕭��蕭����蕭��蕭 */
.sc_frame {
	border: solid 2px #eeeeef;
	border-radius: 1%;
}

.payInfo {
	background-color: #e5e5e6;
	border-radius: 3px;
}

.topLine {
	border-top-style: solid;
	border-top-color: #eeeeef;
}

/* 嚙踐嚙踝蕭蹓鳴蕭謘橘蕭�謆蕭嚙踝蕭 */
.Pimg1 {
	width: 100%;
	/* height: 25%; */
	border-top-style: solid;
	border-top-color: #eeeeef;
	/* background-color: #949393; */
}

.Pimg2>img {
/* 	height: 180px; */
/* 	width: 200px; */
	height: 100%;
	width: 90%;
	/* display: block; */
	margin: 3% 3% 3% 3%;
	background-color: antiquewhite;
}

.Pimg3>img {
	/* width: 40%;*/
	height: 180px;
	width: 200px;
	/* height: auto; */
	display: block;
	/* margin: 3% auto 3% 5%; */
	background-color: antiquewhite;
}

/* 嚙踐嚙踝蕭蹓澗嚙踝蕭�嚙踝�蕭�蹓蕭謘� */
.sc_select {
	margin: 0em;
	font: 400 13.3333px Arial;
	border-radius: 2px;
	border-width: 1px;
	/* border-style: solid; */
	border-color: rgb(169, 169, 169);
}

.sc_select>select {
	/* height: 40%; */
	width: 100%;
}

/* ����嚙踝蕭�嚙踝蕭 */
.remove, #delete {
	display: inline-block;
	color: grey;
	text-align: center;
	text-decoration: none;
	font-weight: bold
}

p#remove:hover {
	color: red;
}

/* margin嚙踐�蕭嚙踝蕭 */
.spacing_top {
	margin-top: 10px;
}

.spacing_top1 {
	margin-top: 20px;
}

.spacing_b {
	margin-bottom: 10px;
}

.margin1 {
	margin: 1.5% 2.5% auto auto;
}

.margin2 {
	margin: 0% 2.2% 0% 0%;
}

/* ��嚙踝蕭���蕭��蕭嚙� */
a:link {
	text-decoration: none;
}

a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

a:active {
	text-decoration: underline;
}

.spacingGeneral {
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: flex-start;
}

.adjPadding {
	padding: 0% 0% 0% 2%;
}

/* checkout */
textarea {
	width: 100%;
	resize: none;
	overflow-y: scroll;
	height: 30%;
	border-radius: 3px;
}

.infoButton {
	padding: 13px 27px 11px 10px;
	position: relative;
	border-radius: 4px;
	background-color: #e5e5e6;
	width: 100%;
	height: auto;
	color: black;
	border: none;
	word-break: break-word;
	box-sizing: border-box;
}

.memo {
	margin-top: 14px;
	width: 100%;
}

/* width嚙踐�蕭嚙踝蕭 */
.width02 {
	width: 2%;
}

.width03 {
	width: 3%;
}

.width05 {
	width: 5%;
}

.width10 {
	width: 10%;
}

.width25 {
	width: 25%;
}

.width30 {
	width: 30%;
}

.halfwidth {
	width: 50%;
}

.width75 {
	width: 75%;
}

.width80 {
	width: 80%;
}

.fullwidth {
	width: 100%;
}

/* ����謘橘蕭謅蕭��S */
.modal_block1 {
	background-color: rgb(235, 235, 235);
	border-block-end: rgb(201, 201, 201) solid 1px;
	border-block-start: rgb(201, 201, 201) solid 1px;
	padding: 1vh;
}

.modal_block2 {
	border-block-end: rgb(201, 201, 201) solid 1px;
	border-block-start: rgb(201, 201, 201) solid 1px;
	padding: 1vh;
}

form>span {
	color: red;
}

form>select, form>input {
	width: 100%;
}

div.container {
	cursor: pointer;
}

.spacingGeneral>label {
	width: 100%;
}

/* ���蕭��嚙踝蕭�嚙踝���蕭 */
.shoppingCart_detail_left {
	width: 75%;
	height: 100%;
}

.wrapTop {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
}

/* ���蕭謚秋�蕭嚙踝蕭 �蹓選蕭蹎祗嚙踐嚙踝蕭嚙� */
.wrapRight {
	/*Flex���蕭�嚙�*/
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	/* 嚙踐�蕭嚙踐�蕭��澈�嚙�  align-items*/
	align-items: flex-end;
	/* border: solid 1px black;
            border-block-end-color: brown; */
	/* 嚙踝蕭��蕭����蕭 */
	/* width: 100%; */
	height: 100%;
	/* border and padding in box */
	box-sizing: border-box;
}

/* ���蕭謚怠�蕭嚙踝蕭 �蹓選蕭蹎祗嚙踐嚙踝蕭嚙� */
.wrapRowEnd {
	/*Flex���蕭�嚙�*/
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-end;
	/* align-items: flex-start; */
	/* border: solid 1px black;
            border-block-end-color: brown; */
	/* 嚙踝蕭��蕭����蕭 */
	width: 100%;
	height: 100%;
	/* border and padding in box */
	box-sizing: border-box;
}

.CartTrans {
	transform-origin: bottom;
}

.wrapSpace {
	/*Flex���蕭�嚙�*/
	justify-content: space-between;
	padding: 1vh 0vh 2vh 1vh;
	border-block-end: solid #eeeeef;
}

/* shoppingCart ��鼎嚙踝��嚙踐��蕭 */